{
    "singleQuote": true,
    "arrowParens": "avoid",
    "semi": true,
    "overrides": [
        {
            "files": [".js", ".ts"],
            "options": {
                "semi": false
            }
        }
    ]
}